<script setup>
import Layout from '@/Layouts/Layout.vue'
import Header from "@/Pages/Planning/Partials/Header"
import Task from "@/Pages/Planning/Partials/Task";
import JetButton from "@/Jetstream/Button";
import {useToast} from "vue-toastification";
import {Inertia} from "@inertiajs/inertia";
import {onMounted} from "vue";
import TaskView from "./Partials/TaskView";
import usePeriods from "../../Composables/Periods";
import {ref, watch} from "vue";
import JetDialogModal from '@/Jetstream/DialogModal.vue';
import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue';
import JetSelect from "../../Jetstream/Select";
import {useForm} from "@inertiajs/inertia-vue3";
import JetInput from "../../Jetstream/Input";

const props = defineProps({
    title: String,
    period: Object,
    users: Object,
    periods: Object,
    current_period: null,
    current_user: null,
    task_id: null
})

const taskTypes = [
    {
        title: 'Выберите тип',
        selected: true
    },
    {
        title: 'Переключатель',
        id: 'App\\Models\\Tasks\\TaskSwitch',
    },
    {
        title: 'Чеклист',
        id: 'App\\Models\\Tasks\\TaskCheckList'
    },
    {
        title: 'Формула',
        id: 'App\\Models\\Tasks\\TaskFormula'
    },
    {
        title: 'Предопределенная формула',
        id: 'App\\Models\\Tasks\\TaskPreconfigured'
    }
]

const newTask = {
    type: 'App\\Models\\Tasks\\TaskSwitch',
    title: null,
    user_id: props.current_user,
    period_id: props.current_period
}

onMounted(() => {
    reloadData()
})

const {
    storePeriod,
    backToPlanning,
    approvedPeriod
} = usePeriods(props.current_period, props.current_user, route('planning.index', {
    reporting_period: props.current_period,
    user: props.current_user
}))

const unStoredTasks = ref(0)

const createTaskModal = ref(false)

const closeModal = () => {
    createTaskModal.value = false
};

const createTask = () => {
    createTaskModal.value = true
}

const reloadData = () => {
    Inertia.visit(route('planning.index', {
        reporting_period: props.current_period,
        user: props.current_user,
        task_id: props.task_id
    }), {
        preserveState: true,
        replace: true,
        only: ['period', 'task_id', 'current_user', 'current_period'],
        preserveScroll: true,
        onFinish: () => props.task_id ? document.getElementById('task_' + props.task_id).scrollIntoView({behavior: 'smooth'}) : false
    })

    unStoredTasks.value = 0
}

const deleteTask = async (id) => {
    if (props.period.user_period.tasks[id].id) {
        axios.delete(route('planning.task.delete', props.period.user_period.tasks[id].id))
            .then((response) => {
                toast.success('Задача удалена')
                props.period.user_period.tasks.splice(id, 1)
            })
            .catch((error) => {
                toast.error('Ошибка')
                console.log(error)
            })
    } else {
        props.period.user_period.tasks.splice(id, 1)
    }
}

const toast = useToast()

const createUserPeriod = () => {
    axios.post(route('periods.store'), {user_id: props.current_user, reporting_period: props.current_period})
        .then((response) => {
            toast.success('Период создан')
            reloadData()
            createTaskModal.value = false
        })
        .catch((error) => {
            toast.error('Ошибка')
            console.log(error)
        })
}

const createNewTask = () => {
    axios.post(route('planning.task.store'), newTask)
        .then((response) => {
            toast.success('Задача создана')
            reloadData()
            closeModal()
        })
        .catch((error) => {
            toast.error('Ошибка')
            console.log(error)
        })
}
</script>
<template>
    <Layout :title="props.title">
        <div class="bg-white rounded">
            <Header :users="props.users"
                    :periods="props.periods"
                    :current_period="current_period"
                    :current_user="current_user"
                    :period="period?.data"
            />

            <div v-if="props.period?.data">

                <div v-if="props.current_user !== null">
                    <Task v-if="props.period.data.user_period !== null
                            && props.period.data.user_period?.tasks.length
                            && (props.period.data.user_period.status === 'in_work' || props.period.data.user_period.status === 'planning')"
                          v-for="(task, index) in props.period.data?.user_period.tasks"
                          :key="task.id"
                          :index="index"
                          :task="task"
                          :highlight="task_id"
                          @deleteTask="deleteTask"
                          @storeTask="reloadData"
                    />

                    <TaskView
                        v-else-if="props.period.data.user_period !== null
                    && props.period.data.user_period?.tasks.length
                    && (props.period.data.user_period.status !== 'in_work' || props.period.data.user_period.status !== 'planning')"
                        v-for="(task, index) in props.period.data?.user_period.tasks"
                        :key="task.id"
                        :index="index"
                        :task="task"
                        :highlight="task_id"
                    />

                    <div v-else-if="props.period.data.user_period === null" class="text-center pt-5 pb-5">
                        <p class="mb-2">Период не создан</p>
                        <JetButton @click="createUserPeriod">Создать</JetButton>
                    </div>

                    <div v-else class="text-center pt-5 pb-5">Задач нет</div>

                    <div
                        v-if="props.period.data.user_period !== null && props.current_period !== null && props.current_user !== null && (props.period.data.user_period.status === 'in_work' || props.period.data.user_period.status === 'planning')"
                        class="flex flex-row flex-nowrap justify-center pb-5 pt-5">
                        <div v-if="unStoredTasks > 0" class="tooltip" data-tip="Необходимо сохранить последнюю задачу">
                            <JetButton disabled>Добавить</JetButton>
                        </div>
                        <JetButton v-else @click="createTask">Добавить</JetButton>
                    </div>

                </div>
                <div v-else class="p-16 bg-gray-100 text-center">Выберите сотрудника</div>

                <div
                    v-if="props.period.data.user_period !== null && props.current_period !== null && props.current_user !== null"
                    class="flex flex-row gap-2 justify-center p-5">
                    <div v-if="unStoredTasks > 0" class="tooltip" data-tip="Необходимо сохранить последнюю задачу">
                        <JetButton disabled>Отправить в работу</JetButton>
                    </div>
                    <JetButton v-else
                               @click="storePeriod"
                               :disabled="props.period.data.user_period.status === 'in_work' || unStoredTasks > 0"
                    >
                        Отправить в работу
                    </JetButton>
                    <JetButton
                        @click="backToPlanning"
                        :disabled="props.period.data.user_period.status === 'approved' || props.period.data.user_period.status === 'planning'"
                    >
                        Вернуть в планирование
                    </JetButton>
                    <JetButton
                        @click="approvedPeriod"
                        :disabled="props.period.data.user_period.status === 'approved' || props.period.data.user_period.status !== 'under_review'"
                    >
                        Утвердить
                    </JetButton>
                </div>
            </div>
        </div>
        <JetDialogModal :show="createTaskModal" @close="closeModal">
            <template #title>
                <h3 class="font-bold">Новая задача</h3>
            </template>

            <template #content>
                <select
                    class="border-gray-300 mt-1 block w-full focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                    v-model="newTask.type"
                >
                    <option v-for="option in taskTypes" :value="option.id"
                            :selected="option.selected"
                            :disabled="option.selected"
                    >
                        {{ option['title'] }}
                    </option>
                </select>
                <JetInput
                    name="newTaskTitle"
                    type="text"
                    v-model="newTask.title"
                    class="mt-1 block w-full mt-2"
                    placeholder="Название задачи"
                />
            </template>

            <template #footer>
                <JetButton @click="createNewTask" class="mr-2">
                    Создать
                </JetButton>
                <JetSecondaryButton @click="closeModal">
                    Отмена
                </JetSecondaryButton>
            </template>
        </JetDialogModal>
    </Layout>
</template>
