<script setup>
import {onMounted, watch} from "vue";
import {useForm} from "@inertiajs/inertia-vue3";
import {useToast} from "vue-toastification";
import {Link} from '@inertiajs/inertia-vue3';

const props = defineProps({
    periods: Object,
    current_period: null,
    period: Object
});

const filter = useForm({
    reporting_period: props.current_period ? props.current_period : props.periods[props.periods.length - 1].id
})

const toast = useToast();

onMounted(async () => {
    await filter.get(route('tasks.index'), {
        preserveState: true,
        only: ['period'],
        onError: (error) => {
            console.log(error)
            toast.error('Ошибка')
        },
    })
})

watch(() => filter.reporting_period, async () => {
    await filter.get(route('tasks.index'), {
        preserveState: true,
        only: ['period'],
        onError: (error) => {
            console.log(error)
            toast.error('Ошибка')
        },
    })
});
</script>
<template>
    <!--HEADER-->
    <div class="flex flex-row flex-nowrap justify-between items-center border-b-2 px-2 py-4">
        <div>
            <select
                v-model="filter.reporting_period"
                :disabled="filter.processing"
                class="select select-bordered w-64 max-w-lg">
                <option v-for="period in periods" :value="period.id" :selected="period.id === filter.reporting_period">
                    {{ period.title }}
                </option>
            </select>
        </div>
        <div v-if="props.period" class="flex flex-row gap-2 items-center">
            <div v-if="props.period.user_period && props.period.user_period.status !== 'in_work'" class="font-bold text-2xs uppercase text-stone-600">
                К оплате: {{ props.period.user_period?.payment }}
            </div>
            <Link :href="route('easter_eggs.snake')">
            <span v-if="props.period.user_period?.tasks.length"
                  class="uppercase font-semibold text-xs text-white rounded px-2 py-1"
                  :class="[
                      props.period.user_period.status === 'in_work'
                      ? 'bg-teal-600'
                      : props.period.user_period.status === 'under_review'
                      ? 'bg-yellow-600'
                      : props.period.user_period.status === 'approved'
                      ? 'bg-green-700'
                      : 'bg-cyan-600'
                  ]"
            >
            {{ props.period.user_period.status_decoding }}
            </span>
            </Link>
        </div>
    </div>
</template>
