<script setup>
import {ref} from "vue";

defineProps({
    task: Object
})

const showTask = ref(false)
</script>
<template>
    <span class=" rounded py-1 px-2 text-xs text-white font-semibold uppercase"
          :class="[
                      task.type === 'regular'
                      ? 'bg-teal-600'
                      : task.type === 'urgent'
                      ? 'bg-yellow-600'
                      : task.type.status === 'long_term'
                      ? 'bg-green-700'
                      : 'bg-cyan-600'
                  ]"
    >
        {{ task.type_decoding }}
    </span>

    <h3 class="text-lg font-semibold text-gray-800">{{ task.title }}</h3>
    <div class="mt-2">
        <div class="flex flex-row flex-nowrap items-center">
            <button
                class="inline-flex items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                @click="showTask = ! showTask"
            >
                Раскрыть
            </button>
            <span class="text-gray-400 font-semibold text-xs uppercase ml-2">Описание задачи</span>
        </div>
        <div class="task-content mt-2 indent-4 text-justify overflow-hidden"
             :class="[ showTask ? '' : 'h-24']"
             v-html="task.description"
        >
        </div>
    </div>
</template>
