<script setup>
import TaskDescription from "@/Pages/Task/Partials/TaskDescription";
import FormSwitch from "./Form/FormSwitch";
import FormCheckList from "./Form/FormCheckList";
import FormFormula from "./Form/FormFormula";

defineProps({
    period: Object
})
</script>
<template>
    <!--Задача-->
    <div class="flex flex-row flex-nowrap border-b-2 border-dotted mb-10 pb-5" v-if="period?.tasks.length" v-for="(task, index) in period.tasks" :key="task.id">
        <span class="font-bold text-stone-400">#{{ index + 1 }}</span>
        <div class="flex-auto w-6/12 px-3">
            <TaskDescription :task="task"/>
        </div>
        <div class="flex-auto w-6/12 px-3">
            <FormSwitch v-if="task.taskable_type === 'App\\Models\\Tasks\\TaskSwitch'"
                        :task="task"
                        :task_id="task.id"
                        :disabled="period.status !== 'in_work'"
            />
            <FormCheckList v-if="task.taskable_type === 'App\\Models\\Tasks\\TaskCheckList'"
                           :task="task"
                           :task_id="task.id"
                           :disabled="period.status !== 'in_work'"
            />
            <FormFormula v-if="task.taskable_type === 'App\\Models\\Tasks\\TaskFormula'"
                           :task="task"
                           :task_id="task.id"
                           :disabled="period.status !== 'in_work'"
            />
        </div>
    </div>
    <div class="text-center" v-else>Задач за этот период нет</div>
</template>
