<script setup>
import {Link} from '@inertiajs/inertia-vue3'

defineProps({
    items: Object
})
</script>
<template>
    <div class="flex flex-row flex-nowrap mb-5">
        <div v-for="(breadrumb, index) in items"
             class="flex flex-row flex-nowrap items-center text-gray-500 text-sm font-medium"
        >
            <span v-if="index === 0" class="mr-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/></svg></span>
            <Link :href="breadrumb.link"
                  class="text-gray-500 text-sm font-medium hover:text-gray-800"
                  :class="[index !== items.length - 1 ? '' : 'text-gray-800']"
            >
                {{ breadrumb.title }}
            </Link>
            <span v-if="index !== items.length - 1"><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/></svg></span>
        </div>
    </div>
</template>
