<script setup>
import JetDropdown from '@/Jetstream/Dropdown.vue';
import JetDropdownLink from '@/Jetstream/DropdownLink.vue';
import {Inertia} from "@inertiajs/inertia";
import {usePage} from "@inertiajs/inertia-vue3";
import {computed} from "vue";

defineProps({
    show: Boolean,
})

const notifications = computed(() => usePage().props.value.notifications);

defineEmits(['toggle-sidebar'])

const logout = () => {
    Inertia.post(route('logout'));
}

const readNotifications = () => {
    axios.get(route('read-notifications'))
}
</script>
<template>
    <nav class="flex flex-row flex-nowrap justify-between bg-white border-b-2 pl-3 pr-5 py-3">
        <div>
            <button
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition"
                @click="$emit('toggle-sidebar')">
                <svg
                    class="h-6 w-6"
                    stroke="currentColor"
                    fill="none"
                    viewBox="0 0 24 24"
                >
                    <path
                        :class="{'hidden': show, 'inline-flex': ! show }"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"
                    />
                    <path
                        :class="{'hidden': ! show, 'inline-flex': show }"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"
                    />
                </svg>
            </button>
        </div>
        <div class="flex flex-row flex-nowrap items-baseline">
            <div>
                <div class="relative">
                    <a href="https://docs.google.com/document/d/1LbTWnMIUHWmO01EYk9xdhD9IRohYTI3I-hbZvWgHDbM/edit"
                       target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="ml-5 relative">
                <JetDropdown align="right" width="96" @click="readNotifications">
                    <template #trigger>
                    <span class="relative inline-block">
                         <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                              stroke="currentColor" stroke-width="2">
                             <path stroke-linecap="round" stroke-linejoin="round"
                                   d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                         </svg>
                          <span
                              class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-600 rounded-full">
                              {{ notifications.length }}
                          </span>
                    </span>
                    </template>

                    <template #content>
                        <div class="flex flex-col">
                            <div v-if="notifications.length"
                                 class="border-b-2 p-2 text-sm font-semibold last:border-b-0"
                                 v-for="notification in notifications">
                                {{ notification.data.message }}
                            </div>
                            <div v-else class="text-center p-2 text-sm font-semibold">Новых уведомлений нет</div>
                        </div>
                    </template>
                </JetDropdown>
            </div>
            <div class="ml-5 relative">
                <JetDropdown align="right" width="48">
                    <template #trigger>
                        <button v-if="$page.props.jetstream.managesProfilePhotos"
                                class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
                            <img class="h-8 w-8 rounded-full object-cover"
                                 :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name">
                        </button>

                        <span v-else class="inline-flex rounded-md">
                                            <button type="button"
                                                    class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
                                                {{ $page.props.user.first_name }}

                                                <svg
                                                    class="ml-2 -mr-0.5 h-4 w-4"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20"
                                                    fill="currentColor"
                                                >
                                                    <path fill-rule="evenodd"
                                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                            </button>
                                        </span>
                    </template>

                    <template #content>
                        <!-- Account Management -->
                        <div class="block px-4 py-2 text-xs text-gray-400">
                            Меню пользователя
                        </div>

<!--                        <JetDropdownLink :href="route('profile.show')">
                            Профиль
                        </JetDropdownLink>-->


                        <div class="border-t border-gray-100"/>

                        <!-- Authentication -->
                        <form @submit.prevent="logout">
                            <JetDropdownLink as="button">
                                Выйти
                            </JetDropdownLink>
                        </form>
                    </template>
                </JetDropdown>
            </div>
        </div>
    </nav>
</template>
