<script setup>
import {Link} from '@inertiajs/inertia-vue3';

defineProps({
    show: Boolean
})

</script>
<template>
    <transition
        enter-active-class="transition ease-out duration-200"
        enter-from-class="transform -translate-x-full"
        enter-to-class="transform translate-x-0"
        leave-active-class="transition ease-in duration-100"
        leave-from-class="transform translate-x-0"
        leave-to-class="transform -translate-x-full"
    >
        <aside v-show="show"
               class="w-64 min-h-screen bg-gradient-to-t from-gray-900 to-gray-800 text-gray-100 drop-shadow-lg">
            <div class="bg-white h-16 border-b-2 pt-4 pl-3">
                <img src="/images/logo.png" alt="Maxmoll">
            </div>
            <div class="my-2 px-3">
                <ul>
                    <li v-if="$page.props.auth.user.permissions.access.manager">
                        <Link :href="route('index')"
                              class="flex flex-row flex-nowrap items-center p-2 rounded-lg font-semibold text-gray-300 hover:text-gray-100 hover:bg-gray-700 transition duration-75">
                            <svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Главная</span>
                        </Link>
                    </li>

                    <li>
                        <Link :href="route('tasks.index')"
                              class="flex flex-row flex-nowrap items-center p-2 rounded-lg font-semibold text-gray-300 hover:text-gray-100 hover:bg-gray-700 transition duration-75">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"/>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Мои задачи</span>
                        </Link>
                    </li>

                    <!--<li>
                        <Link :href="route('tasks.index')"
                              class="flex flex-row flex-nowrap items-center p-2 rounded-lg font-semibold text-gray-300 hover:text-gray-100 hover:bg-gray-700 transition duration-75">
                            <svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Отдел</span>
                        </Link>
                    </li>-->

                    <li v-if="$page.props.auth.user.permissions.access.manager || $page.props.auth.user.permissions.access.accountant">
                        <Link :href="route('results.index')"
                              class="flex flex-row flex-nowrap items-center p-2 rounded-lg font-semibold text-gray-300 hover:text-gray-100 hover:bg-gray-700 transition duration-75">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"/>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Результаты</span>
                        </Link>
                    </li>

                    <li v-if="$page.props.auth.user.permissions.access.manager || $page.props.auth.user.permissions.access.accountant">
                        <Link :href="route('planning.list')"
                              class="flex flex-row flex-nowrap items-center p-2 rounded-lg font-semibold text-gray-300 hover:text-gray-100 hover:bg-gray-700 transition duration-75">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Планирование</span>
                        </Link>
                    </li>

                    <li v-if="$page.props.auth.user.permissions.access.admin">
                        <Link :href="route('administration.index')"
                              class="flex flex-row flex-nowrap items-center p-2 rounded-lg font-semibold text-gray-300 hover:text-gray-100 hover:bg-gray-700 transition duration-75">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Управление</span>
                        </Link>
                    </li>
                </ul>
            </div>
        </aside>
    </transition>
</template>
