<script>
import 'he-tree-vue/dist/he-tree-vue.css'
import {Tree, Draggable} from 'he-tree-vue'
import {useToast} from "vue-toastification";
import {Inertia} from "@inertiajs/inertia";


export default {
    setup() {
        const toast = useToast();
        return {toast}
    },
    props: ['users'],
    components: {
        Tree: Tree.mixPlugins([Draggable])
    },
    data() {
        return {
            list: [this.users],
        }
    },
    methods: {
        submit() {
            axios.post(route('administration.users.tree.change'), {data: this.list})
                .then((response) => {
                    this.toast.success('Дерево обновлено');
                })
                .catch((error) => {
                    this.toast.warning(error.response.data.message);
                    Inertia.visit(route('administration.users.tree.index'))
                })
        }
    }
}
</script>
<style lang="scss">
.tree-node {
    padding: 10px !important;
    border-radius: 5px;

    &:hover {
        cursor: move;
        background-color: #f1f1f1;
    }
}
</style>
<template>
    <Tree :value="list" @change="submit"/>
</template>
