<script setup>
import {computed} from "vue";
import Favorites from "@/Shared/Favorites";

const props = defineProps({
    item: Object
})

const bgColor = computed(() => {
    let color = 'bg-gray-50'

    if (props.item.status === 'approved' && props.item.tasks_count === props.item.tasks_completed) {
        color = 'bg-green-50'
    }

    if (props.item.status === 'approved' && props.item.tasks_count !== props.item.tasks_completed) {
        color = 'bg-yellow-50'
    }

    return color
})

</script>
<template>

    <div
        class="flex flex-row flex-nowrap justify-between gap-4 border-b-2 border-b-gray-300 border-dotted pb-5 pt-5 px-3"
        :class="bgColor"
    >
        <div class="flex-none w-1/6 border-r-2">
            <div class="flex flex-row items-center gap-2">
                <Favorites :user_id="item.user.id" :in_favorite="item.user.has_favorite_count"/>
                <a
                    :href="route('planning.index', { reporting_period: item.reporting_period_id, user: item.user.id, task_id: item.id })"
                    target="_blank"
                >
                    {{ item.user.full_name }}
                </a>
            </div>
        </div>
        <div class="flex-auto w-2/6 border-r-2 text-center">
            <div class="flex flex-col">
                <div class="font-semibold">
                    {{ item.tasks_completed }} / {{ item.tasks_count }}
                </div>
            </div>
        </div>
        <div class="flex-none w-1/6 text-center">
            {{ item.payment }}р
        </div>
    </div>

</template>
