<script setup>
import JetButton from '@/Jetstream/Button'
import {ref, watch} from 'vue'
import {useToast} from 'vue-toastification'
import {Inertia} from '@inertiajs/inertia'
import Input from '../../../Jetstream/Input'
import Label from '../../../Jetstream/Label'
import {pickBy} from 'lodash'
import VueMultiselect from 'vue-multiselect'
import {computed} from 'vue';


const props = defineProps({
    users: Object,
    periods: Object,
    current_period: null,
    current_user: null,
    period: Object,
    to_pay: Number,
})

const toast = useToast()

const diabledButton = ref(false)

const user = ref(props.current_user ? props.users.find(user => user.id === parseInt(props.current_user)) : false)

const form = ref({
    reporting_period: props.current_period ? props.current_period : props.periods[props.periods.length - 1].id,
    status: false,
    user: props.current_user ? props.current_user : false,
    with_results: false,
    no_results: false,
    only_favorites: false,
    regular: false,
    urgent: false,
    long_term: false
})

watch(() => form, () => {
    filtering()
}, {deep: true});


const filtering = async () => {
    let params = pickBy(form.value);

    await Inertia.get(route('results.index'), params, {
        replace: true,
        preserveState: true
    })
}

watch(() => user, (newVal) => {
    form.value.user = newVal.value?.id ? newVal.value.id : false
}, {deep: true})

const toPay = computed(() => {
    if (props.period.user_periods_total === 0) {
        return true;
    }

    if (props.period.status !== 'in_work') {
        return true;
    }

    return props.period.user_periods_total !== props.period.user_periods_approved
})

const payList = computed(() => {
    return props.period.status !== 'in_payment'
})

const periodToPay = (id) => {
    axios.post(route('periods.toPayment', id))
        .then((response) => {
            toast.success(response.data.message)
            filtering()
        })
        .catch((error) => {
            toast.error('Ошибка')
            console.log(error)
        })
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style lang="scss">
.multiselect__tags {
    min-height: 46px;
    padding: 9px 40px 0 9px;
    font-weight: 500;
}

.multiselect__single {
    padding-left: 5px;
    padding-top: 3px;
    margin-bottom: 0;
}

.multiselect__select {
    top: 4px;
}

.multiselect__input {
    &:focus {
        border: 0;
        outline: 0;
        box-shadow: none !important;
    }
}
</style>
<template>
    <div class="border-b-2 px-2 py-4">
        <div class="flex flex-row flex-nowrap justify-between items-center">
            <div class="flex flex-row flex-nowrap">
                <select class="select select-bordered w-64" v-model="form.reporting_period">
                    <option v-for="period in props.periods" :value="period.id"
                            :selected="period.id === form.reporting_period"
                    >
                        {{ period.title }}
                    </option>
                </select>

                <div class="w-80 ml-3">
                    <VueMultiselect
                        v-model="user"
                        :options="props.users"
                        :close-on-select="true"
                        :clear-on-select="false"
                        deselect-label="Поиск сотрудника"
                        placeholder="Поиск сотрудника"
                        label="full_name"
                        track-by="id"
                    >
                    </VueMultiselect>
                </div>
            </div>
            <div class="flex flex-row gap-2" v-if="$page.props.auth.user.permissions.access.admin">
                <JetButton :disabled="toPay" @click.prevent="periodToPay(period.id)">
                    Отправить на оплату
                </JetButton>
                <a :href="route('results.export', current_period)">
                    <JetButton :disabled="payList">На выплату: <span>{{ period.payment }}р</span></JetButton>
                </a>
            </div>
        </div>
        <div class="flex flex-row gap-2 flex-nowrap items-center mt-2">
            <select class="select select-bordered w-64 max-w-lg" v-model="form.status">
                <option :value="false" :selected="form.user === false">
                    Все
                </option>
                <option :value="'planning'" :selected="form.user === false">
                    На планировании
                </option>
                <option :value="'in_work'" :selected="form.user === false">
                    В работе
                </option>
                <option :value="'under_review'" :selected="form.user === false">
                    На проверке
                </option>
                <option :value="'approved'" :selected="form.user === false">
                    Утвержденные
                </option>
            </select>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm" v-model="form.with_results" type="checkbox"
                       id="with_results" name="with_results">
                <label for="with_results">С результатами</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" v-model="form.no_results" type="checkbox"
                       id="no_results" name="no_results">
                <label for="no_results">Без результатов</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" v-model="form.only_favorites" type="checkbox"
                       id="only_favorites" name="only_favorites">
                <label for="only_favorites">Только избранные</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" type="checkbox" v-model="form.urgent" id="urgent"
                       name="urgent">
                <label for="urgent">
                    <span class="bg-yellow-600 rounded py-1 px-2 text-xs text-white font-semibold uppercase">
                    Срочные
                    </span>
                </label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" type="checkbox" v-model="form.regular" id="regular"
                       name="regular">
                <label for="regular">
                    <span class="bg-teal-600 rounded py-1 px-2 text-xs text-white font-semibold uppercase">
                    Регулярные
                    </span>
                </label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" type="checkbox" v-model="form.long_term" id="long_term"
                       name="long_term">
                <label for="long_term">
                    <span class="bg-green-700 rounded py-1 px-2 text-xs text-white font-semibold uppercase">
                    Долгосрочные
                    </span>
                </label>
            </div>
        </div>
    </div>
</template>
