<script setup>
import Layout from '@/Layouts/Layout.vue'
import Header from '@/Pages/Task/Partials/Header.vue'
import Task from '@/Pages/Task/Partials/Task.vue'
import JetButton from '@/Jetstream/Button.vue';
import JetDialogModal from '@/Jetstream/DialogModal.vue';
import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue';
import {ref} from "vue";
import {useToast} from "vue-toastification";
import {Inertia} from "@inertiajs/inertia";
import {onMounted} from "vue";
import {useForm} from "@inertiajs/inertia-vue3";

const props = defineProps({
    title: String,
    current_period: null,
    periods: Object,
    period: Object
})

const toast = useToast();

const confirmingPeriodModal = ref(false)

const closeModal = () => {
    confirmingPeriodModal.value = false
};

const approvePeriod = () => {
    confirmingPeriodModal.value = true
}

const postApprovePeriod = () => {
    axios.post(route('periods.approve', props.period?.data.user_period.id))
        .then((response) => {
            confirmingPeriodModal.value = false
            toast.success('Период отправлен на проверку')
            Inertia.visit(route('tasks.index'))
        })
        .catch((error) => {
            confirmingPeriodModal.value = false
            toast.error('Ошибка: ' + error.response.data.message)
            console.log(error)
        })
}

</script>
<template>
    <Layout :title="props.title">
        <div class="bg-white rounded overflow-hidden">
            <Header :current_period="props.current_period" :periods="props.periods" :period="props.period?.data"/>
            <div v-if="props.period">
                <!--CONTENT-->
                <div class="px-2 py-10">
                    <Task :period="props.period?.data.user_period"/>
                </div>
                <div class="text-center pb-5">
                    <JetButton v-if="props.period?.data.user_period?.tasks.length" @click="approvePeriod"
                               :disabled="props.period?.data.user_period.status !== 'in_work'">Утвердить
                    </JetButton>
                </div>
            </div>
            <div v-else class="p-16 bg-gray-100 text-center">Loading...</div>
        </div>

        <JetDialogModal :show="confirmingPeriodModal" @close="closeModal">
            <template #title>
                <h3 class="font-bold">Подтвердите действие</h3>
            </template>

            <template #content>
                После отправки плана на проверку изменение чек-листов будет невозможно, проверьте корректность введеных
                данных
            </template>

            <template #footer>
                <JetButton @click="postApprovePeriod" class="mr-2">
                    Отправить
                </JetButton>
                <JetSecondaryButton @click="closeModal">
                    Отмена
                </JetSecondaryButton>
            </template>
        </JetDialogModal>
    </Layout>
</template>
