<script setup>
import Layout from "@/Layouts/Layout";
import Header from "./Partials/Header";
import List from "./Partials/List";
import Pagination from "../../../Shared/Pagination";

defineProps({
    title: String,
    periods: Object,
    current_period: null,
    users: Object
})
</script>
<template>
    <Layout :title="title">
        <div class="bg-white rounded">
            <Header :current_period="current_period" :periods="periods"/>
            <List v-if="users" v-for="user in users.data" :key="user.id" :user="user" :current_period="current_period"/>
            <Pagination v-if="users" class="mt-6" :links="users.links" />
        </div>
    </Layout>
</template>
