<script setup>
import {useForm, usePage} from "@inertiajs/inertia-vue3";
import Editor from '@/Modules/CKeditor/build/ckeditor'
import {useToast} from "vue-toastification";
import JetInput from "../../../../Jetstream/Input";


const props = defineProps({
    task: Object,
    disabled: false,
    task_id: Number
})

const onChangeOption = (id, task_id) => {
    form.elements.forEach(option => {
        option.completed = option.id === id ? 1 : 0
    })

    saveElement(task_id)
}

const toast = useToast();

const form = useForm({
    elements: props.task.elements,
    comment: props.task.comment?.comment,
    type: 'switch'
});

const submit = async (id) => {
    await axios.put(route('tasks.update', id), form)
        .then(() => {
            toast.success('Сохранено')
        })
        .catch(error => {
            console.log(error.response.data.message)
            toast.error('Ошибка сохранения: ' + error.response.data.message)
        })
}

const saveElement = (task_id) => {
    submit(task_id)
}

const editorData = ({
    editor: Editor,
    data: '',
    editorConfig: {
        simpleUpload: {
            uploadUrl: route('uploads.image', {'path': 'tasks'}),
            withCredentials: true,
            headers: {
                'X-CSRF-TOKEN': usePage().props.value.csrf_token
            }
        }
    }
})
</script>
<template>
    <form @submit.prevent="submit(task_id)">
        <div class="flex flex-row justify-between">
            <span class="text-gray-400 font-semibold text-xs uppercase">Результаты</span>
            <button
                class="inline-flex items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                :disabled="form.processing || props.disabled"
            >
                Сохранить
            </button>
        </div>
        <ul>
            <JetInput v-model="form.elements[0].result" type="number" placeholder="Результат"/>
        </ul>
<!--                <ul>
                    <li v-if="task.elements.length" v-for="(element, index) in form.elements" :key="element.id" class="mb-2">
                        <input v-model="form.elements[index].completed"
                               value="1"
                               class="radio radio-sm"
                               type="radio"
                               :id="'element_radio_' + element.id"
                               :name="'element_radio_' + element.id"
                               @change="onChangeOption(element.id, task_id)"
                               :disabled="props.disabled"
                        >
                        <div v-if="element.description" class="tooltip" :data-tip="element.description">
                            <label :for="'element_' + element.id" class="ml-2">{{ element.title }} ({{
                                    element.price
                                }}р)</label>
                        </div>
                        <div v-else class="inline">
                            <label :for="'element_' + element.id" class="ml-2">{{ element.title }} ({{
                                    element.price
                                }}р)</label>
                        </div>
                    </li>

                    <li v-else>
                        Показатели не заданы
                    </li>
                </ul>-->

        <div class="mt-5">
            <ckeditor
                class="textarea h-32 overflow-scroll resize-y"
                :editor="editorData.editor"
                v-model="form.comment"
                :config="editorData.editorConfig"
                :disabled="props.disabled"
            />
        </div>
    </form>
</template>
