<script setup>
import Layout from '@/Layouts/Layout.vue';
import {computed} from "vue";
import {Link} from "@inertiajs/inertia-vue3";

const props = defineProps({
    title: String,
    current_period: Object,
    user_statistic: Object
});

const paymnetProcent = computed(() => {
    if (!props.user_statistic) {
        return 0
    }
    if (!props.user_statistic.payment_total) {
        return 0
    }

    return Math.round((props.user_statistic.payment / props.user_statistic.payment_total) * 100)
})

const tasksCompleted = computed(() => {
    if (!props.current_period.tasks_count) {
        return 0
    }
    return Math.round((props.current_period.tasks_completed / props.current_period.tasks_count) * 100)
})
</script>
<template>
    <Layout :title="title">
        <div class="flex flex-row flex-nowrap gap-4">
            <Link as="div" :href="route('results.index')"
                  class="bg-slate-300 flex flex-col justify-center rounded relative w-1/3 h-32 px-5 shadow hover:cursor-pointer">
                <div class="flex flex-row flex-nowrap items-center gap-4">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white" fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                        </svg>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold">{{ current_period.title }}</h3>
                        <p class="text-sm font-medium">{{ current_period.current_date }}</p>
                        <p class="text-sm font-medium">Осталось дней: {{ current_period.days_left }}</p>
                    </div>
                </div>
            </Link>
            <div class="bg-slate-300 flex flex-col justify-center rounded relative w-1/3 h-32 px-5 shadow">
                <div class="flex flex-row flex-nowrap items-center justify-between">
                    <div class="flex flex-row flex-nowrap items-center gap-4">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold">План {{ current_period.title }}</h3>
                            <p class="text-sm font-medium">{{ current_period?.tasks_completed }} из
                                {{ current_period?.tasks_count }} задач выполнено</p>
                            <p class="text-sm font-medium">{{ current_period?.period_completed }} из
                                {{ current_period?.period_count }} отчетов подтверждено</p>
                        </div>
                    </div>
                    <div class="radial-progress" :style="{'--value': [ tasksCompleted]}">{{ tasksCompleted }}%</div>
                </div>
            </div>
            <Link as="div" :href="route('tasks.index')"
                  class="bg-slate-300 flex flex-col justify-center rounded relative w-1/3 h-32 px-5 shadow hover:cursor-pointer">
                <div class="flex flex-row flex-nowrap items-center justify-between">
                    <div class="flex flex-row flex-nowrap items-center gap-4">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor"
                                 stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold">Мои задачи</h3>
                            <p v-if="user_statistic !== null && user_statistic.tasks_count !== 0"
                               class="text-sm font-medium">
                                {{ user_statistic?.tasks_completed }} из {{ user_statistic?.tasks_count }} задач
                                выполнено
                            </p>
                            <p v-if="user_statistic !== null && user_statistic.tasks_count !== 0"
                               class="text-sm font-medium">
                                {{ user_statistic?.payment }} / {{ user_statistic?.payment_total }}р
                            </p>
                            <p v-else class="text-sm font-medium">Задач пока нет</p>
                        </div>
                    </div>
                    <div class="radial-progress" :style="{'--value': [ paymnetProcent]}">{{ paymnetProcent }}%</div>
                </div>
            </Link>
        </div>
    </Layout>
</template>
