<script setup>
import Layout from '@/Layouts/Layout.vue';
import Widget from "./Partials/Widget";

defineProps({
    title: String,
    users_count: Number,
    departament_count: Number
});

</script>
<template>
    <Layout :title="title">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <widget
                :to="route('administration.users.index')"
                title="Сотрудники"
                :count="users_count"
                color="bg-emerald-700"
                titleColor="text-slate-200"
                icon='<svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-slate-200" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" /></svg>'
            />
            <widget
                :to="route('administration.users.tree.index')"
                title="Дерево сотрудников"
                :count="users_count"
                color="bg-teal-800"
                titleColor="text-slate-200"
                icon='<svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-slate-200" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4" /></svg>'
            />
        </div>
    </Layout>
</template>
