<script setup>
import Layout from '@/Layouts/Layout.vue'
import {useForm} from '@inertiajs/inertia-vue3'
import JetInput from '@/Jetstream/Input.vue';
import JetSelect from '@/Jetstream/Select.vue';
import JetInputError from '@/Jetstream/InputError.vue';
import JetLabel from '@/Jetstream/Label.vue';
import JetButton from '@/Jetstream/Button.vue';

defineProps({
    title: String,
    roles: Object,
    users: Object
})

const form = useForm({
    first_name: '',
    second_name: '',
    phone: '',
    email: '',
    role_id: Number,
    counting_id: Number,
    supervisor_id: Number,
    disabled: Boolean,
    password: ''
});

const submit = () => {
    form.post(route('administration.users.store'), {
        preserveScroll: true,
    });
}
</script>
<template>
    <Layout :title="title">
        <template #topRightSide>
            <JetButton :class="{ 'opacity-25': form.processing }" @click="submit" :disabled="form.processing">
                Сохранить
            </JetButton>
        </template>
        <div class="bg-white rounded-md pb-5">
            <form @submit.prevent="submit">
                <div class="flex flex-row flex-nowrap">
                    <div class="flex flex-row flex-nowrap flex-auto">
                        <div>
                            <div class="flex flex-wrap -mb-8  p-8">
                                <JetLabel for="first_name" value="Имя"/>
                                <JetInput
                                    id="first_name"
                                    v-model="form.first_name"
                                    type="text"
                                    class="mt-1 block w-full"
                                    autocomplete="first-name"
                                />
                                <JetInputError :message="form.errors.first_name" class="mt-2"/>
                            </div>

                            <div class="flex flex-wrap -mb-8  p-8">
                                <JetLabel for="second_name" value="Фамилия"/>
                                <JetInput
                                    id="second_name"
                                    v-model="form.second_name"
                                    type="text"
                                    class="mt-1 block w-full"
                                    autocomplete="family-name"
                                />
                                <JetInputError :message="form.errors.second_name" class="mt-2"/>
                            </div>
                            <div class="flex flex-row flex-nowrap items-center -mb-8  p-8">
                                <input
                                    id="disabled"
                                    v-model="form.disabled"
                                    class="checkbox checkbox-sm mr-2"
                                    type="checkbox"
                                >
                                <label for="disabled">Заблокирован</label>
                            </div>
                        </div>

                        <div>
                            <div class="flex flex-wrap -mb-8  p-8">
                                <JetLabel for="phone" value="Телефон"/>
                                <JetInput
                                    id="phone"
                                    v-model="form.phone"
                                    type="text"
                                    class="mt-1 block w-full"
                                    autocomplete="phone"
                                    v-maska="'+7 (###) ###-##-##'"
                                />
                                <JetInputError :message="form.errors.phone" class="mt-2"/>
                            </div>

                            <div class="flex flex-wrap -mb-8  p-8">
                                <JetLabel for="email" value="E-mail"/>
                                <JetInput
                                    id="email"
                                    v-model="form.email"
                                    type="text"
                                    class="mt-1 block w-full"
                                    autocomplete="email"
                                />
                                <JetInputError :message="form.errors.email" class="mt-2"/>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row flex-nowrap flex-auto">
                        <div>
                            <div class="flex flex-wrap -mb-8  p-8">
                                <JetLabel for="role" value="Роль"/>
                                <JetSelect
                                    id="role"
                                    :options="roles"
                                    optionTitle="title"
                                    v-model="form.role_id"
                                    class="mt-1 block w-full"
                                />
                                <JetInputError :message="form.errors.role_id" class="mt-2"/>
                            </div>

                            <div class="flex flex-wrap -mb-8  p-8">
                                <JetLabel for="counting_id" value="Counting ID"/>
                                <JetInput
                                    id="counting_id"
                                    v-model="form.counting_id"
                                    type="number"
                                    class="mt-1 block w-full"
                                />
                                <JetInputError :message="form.errors.counting_id" class="mt-2"/>
                            </div>
                        </div>

                        <div>
                            <div class="flex flex-wrap -mb-8  p-8">
                                <JetLabel for="supervisor_id" value="Начальник"/>
                                <JetSelect
                                    id="supervisor_id"
                                    :options="users"
                                    optionTitle="full_name"
                                    v-model="form.supervisor_id"
                                    class="mt-1 block w-full"
                                />
                                <JetInputError :message="form.errors.supervisor_id" class="mt-2"/>
                            </div>

                            <div class="flex flex-wrap -mb-8  p-8">
                                <JetLabel for="password" value="Пароль"/>
                                <JetInput
                                    id="password"
                                    v-model="form.password"
                                    type="text"
                                    class="mt-1 block w-full"
                                />
                                <JetInputError :message="form.errors.password" class="mt-2"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </Layout>
</template>
