<script setup>
import Layout from '@/Layouts/Layout.vue'
import { Link } from '@inertiajs/inertia-vue3'
import Pagination from '@/Shared/Pagination.vue'
import JetButton from "../../../Jetstream/Button";
import JetDropdown from '@/Jetstream/Dropdown.vue';
import JetDropdownLink from '@/Jetstream/DropdownLink.vue';
import {useToast} from "vue-toastification";
import {Inertia} from "@inertiajs/inertia";

const toast = useToast();

defineProps({
    title: String,
    users: Object,
});

const deleteUser = (id) => {
    axios.delete(route('administration.users.destroy', id))
        .then((response) => {
            toast.success('Пользователь удален')
            Inertia.visit(route('administration.users.index'))
        })
        .catch((error) => {
            toast.error('Ошибка')
            console.log(error)
        })
}
</script>
<template>
    <Layout :title="title">
        <template #topRightSide>
            <Link :href="route('administration.users.create')"><JetButton>Создать</JetButton></Link>
        </template>
        <div>
            <div class="bg-white rounded-md">
                <table class="w-full whitespace-nowrap">
                    <thead>
                    <tr class="text-left font-bold">
                        <th class="pb-4 pt-6 px-6">Имя</th>
                        <th class="pb-4 pt-6 px-6">Фамилия</th>
                        <th class="pb-4 pt-6 px-6">Роль</th>
                        <th class="pb-4 pt-6 px-6" colspan="2">Телефон</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users.data" :key="user.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
                        <td class="border-t">
                            <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="route('administration.users.edit', user.id)">
                                {{ user.first_name }}
                            </Link>
                        </td>
                        <td class="border-t">
                            <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="route('administration.users.edit', user.id)">
                                {{ user.second_name ? user.second_name : 'Не заполнено' }}
                            </Link>
                        </td>
                        <td class="border-t">
                            <Link class="flex items-center px-6 py-4" tabindex="-1" :href="route('administration.users.edit', user.id)">
                                {{ user.role }}
                            </Link>
                        </td>
                        <td class="border-t">
                            <Link class="flex items-center px-6 py-4"  tabindex="-1" :href="route('administration.users.edit', user.id)">
                                {{ user.phone }}
                            </Link>
                        </td>
                        <td class="w-px border-t">
                            <JetDropdown align="right" width="48">
                                <template #trigger>
                                    <span class="inline-flex rounded-md mr-4">
                                            <button type="button"
                                                    class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
                                                <svg
                                                    class="h-4 w-4"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20"
                                                    fill="currentColor"
                                                >
                                                    <path fill-rule="evenodd"
                                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                            </button>
                                        </span>
                                </template>

                                <template #content>
                                    <JetDropdownLink :href="route('administration.users.edit', user.id)">
                                        Редактировать
                                    </JetDropdownLink>
                                    <JetDropdownLink @click="deleteUser(user.id)">
                                        Удалить
                                    </JetDropdownLink>
                                </template>
                            </JetDropdown>
                        </td>
                    </tr>
                    <tr v-if="users.data.length === 0">
                        <td class="px-6 py-4 border-t" colspan="4">Сотрудников нет</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pagination class="mt-6" :links="users.links" />
        </div>
    </Layout>
</template>
