<script setup>
import Layout from '@/Layouts/Layout.vue';
import NestedDraggable from "./Partials/NestedDraggable";

const props = defineProps({
    title: String,
    users: Object
})


</script>
<template>
    <Layout :title="title">
        <div class="bg-white rounded overflow-hidden px-5 py-10">
            <NestedDraggable :users="users"/>
        </div>
    </Layout>
</template>
