<script setup>
import Layout from '@/Layouts/Layout.vue'
import Card from "./Partials/Card";
import Header from "./Partials/Header";
import Pagination from '@/Shared/Pagination.vue'

const props = defineProps({
    title: String,
    user_periods: Object,
    users: Object,
    periods: Object,
    current_period: null,
    current_user: null,
    period: Object
})
</script>
<template>
    <Layout :title="title">
        <div class="bg-white rounded">
            <Header :users="props.users"
                    :periods="props.periods"
                    :current_period="current_period"
                    :current_user="current_user"
                    :period="period"
            />
            <div v-if="user_periods.data.length">
                <Card v-for="period in user_periods.data" :item="period"/>
                <div class="flex flex-row justify-center mt-5 pb-5">
                    <pagination :links="user_periods.links"/>
                </div>
            </div>
            <div v-else class="text-center pb-5 pt-5">Задач нет</div>
        </div>
    </Layout>
</template>
