<script setup>
import {Link} from '@inertiajs/inertia-vue3';

defineProps({
    to: String,
    title: String,
    count: Number,
    color: String,
    titleColor: String,
    icon: String
})
</script>
<template>
    <Link :href="to">
        <div class="h-32 flex flex-row flex-nowrap items-center justify-between py-3 px-5 rounded shadow" :class="color">
            <div>
                <div class="text-4xl font-semibold" :class="titleColor">{{ count }}</div>
                <h3 class="text-lg font-semibold" :class="titleColor">{{ title }}</h3>
            </div>
            <div v-html="icon"></div>
        </div>
    </Link>
</template>
