<script setup>
import {useToast} from "vue-toastification";
import {ref} from "vue";

const toast = useToast();

const props = defineProps({
    user_id: Number,
    in_favorite: Boolean
})

const favorite = ref(props.in_favorite)

const addFavorite = () => {
    axios.post(route('favorites.add'), {user_id: props.user_id})
        .then(() => {
            toast.success('Пользователь добавлен в избранное')
            favorite.value = !favorite.value
        })
        .catch(error => {
            console.log(error.response.data.message)
            toast.error('Ошибка: ' + error.response.data.message)
        })
}

const unFavorite = () => {
    axios.delete(route('favorites.delete', props.user_id))
        .then(() => {
            toast.success('Пользователь удален из избранного')
            favorite.value = !favorite.value
        })
        .catch(error => {
            console.log(error.response.data.message)
            toast.error('Ошибка сохранения: ' + error.response.data.message)
        })
}
</script>
<template>
    <div v-if="favorite" @click="unFavorite">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/>
        </svg>
    </div>
    <div v-else @click="addFavorite">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
        </svg>
    </div>
</template>
