<script setup>
import JetButton from "@/Jetstream/Button"
import {ref, watch} from "vue"
import {Inertia} from "@inertiajs/inertia"
import VueMultiselect from 'vue-multiselect'
import {pickBy} from "lodash";
import usePeriods from "../../../Composables/Periods";


const props = defineProps({
    users: Object,
    periods: Object,
    current_period: null,
    current_user: null,
    period: null
})

const user = ref(props.current_user ? props.users.find(user => user.id === parseInt(props.current_user)) : false)

const form = ref({
    reporting_period: props.current_period ? props.current_period : props.periods[props.periods.length - 1].id,
    user: props.current_user ? props.current_user : false,
})

const filtering = async () => {
    let params = pickBy(form.value);

    await Inertia.get(route('planning.index'), params, {
        replace: true,
        preserveState: true,
        only: ['period', 'task_id', 'current_user', 'current_period']
    })
}

watch(() => form, () => {
    filtering()
}, {deep: true});


watch(() => user, (newVal) => {
    form.value.user = newVal.value?.id ? newVal.value.id : false
}, {deep: true})
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style lang="scss">
.multiselect__tags {
    min-height: 46px;
    padding: 9px 40px 0 9px;
    font-weight: 500;
}
.multiselect__single {
    padding-left: 5px;
    padding-top: 3px;
    margin-bottom: 0;
}

.multiselect__select {
    top: 4px;
}
.multiselect__input {
    &:focus {
        border: 0;
        outline: 0;
        box-shadow: none !important;
    }
}
</style>
<template>
    <!--HEADER-->
    <div class="flex flex-row flex-nowrap justify-between items-center border-b-2 px-2 py-4">
        <div class="flex flex-row flex-nowrap">
            <select class="select select-bordered w-64 max-w-lg" v-model="form.reporting_period">
                <option v-for="period in props.periods" :value="period.id"
                        :disabled="form.reporting_period.processing"
                        :selected="period.id === form.reporting_period"
                >
                    {{ period.title }}
                </option>
            </select>

            <div class="w-80 ml-3">
                <VueMultiselect
                    v-model="user"
                    :options="props.users"
                    :close-on-select="true"
                    :clear-on-select="false"
                    deselect-label="Поиск сотрудника"
                    placeholder="Поиск сотрудника"
                    label="full_name"
                    track-by="id"
                >
                </VueMultiselect>
            </div>
        </div>
        <div v-if="props.period && props.period.user_period && props.period.user_period.status !== 'in_work'" class="font-bold text-2xs uppercase text-stone-600">
            К оплате: {{ props.period.user_period?.payment }} / {{ props.period.user_period?.payment_total }}
        </div>
    </div>
</template>
