<script setup>
import Editor from '@/Modules/CKeditor/build/ckeditor'
import {useForm, usePage} from "@inertiajs/inertia-vue3";
import {useToast} from "vue-toastification";
import {defineEmits, ref} from "vue";
import draggable from "vuedraggable";
import Switch from "./Elements/Switch";
import CheckList from "./Elements/CheckList";
import JetInput from "@/Jetstream/Input"
import Formula from "./Elements/Formula";
import Preconfigured from "./Elements/Preconfigured";


const props = defineProps({
    task: Object,
    index: Number,
    highlight: null
})

const taskType = ref(props.task ? props.task.taskable_type : 'App\\Models\\Tasks\\TaskSwitch')

const emit = defineEmits(['deleteTask'])

const form = useForm({
    task: props.task,
    comment: props.task.comment?.comment
})

const toast = useToast();

const editorData = ({
    editor: Editor,
    data: '',
    editorConfig: {
        simpleUpload: {
            uploadUrl: route('uploads.image', {'path': 'tasks'}),
            withCredentials: true,
            headers: {
                'X-CSRF-TOKEN': usePage().props.value.csrf_token
            }
        }
    }
})

const onChangeOption = (id) => {
    form.task.elements.forEach(option => {
        option.completed = option.id === id ? 1 : 0
    })
}

const addTaskElement = () => {
    form.task.elements.push({
        completed: 0,
        order: 1,
        type: form.task.elements[0]?.type ?? 'checkbox'
    })
}

const deleteTaskElement = (id) => {
    form.task.elements.forEach(option => {
        if (option.id === id) {
            form.task.elements.splice(form.task.elements.indexOf(option), 1);
        }
    })
}

const deleteTask = async (id) => {
    emit('deleteTask', id)
}

const updateTask = async (id) => {
    sortingElements()
    await axios.put(route('planning.task.update', id), form)
        .then(() => {
            toast.success('Сохранено')
        })
        .catch(error => {
            console.log(error.response.data.message)
            toast.error('Ошибка сохранения: ' + error.response.data.message)
        })
}

const sortingElements = () => {
    form.task.elements.forEach((element, index) => {
        element.order = index + 1
    })
}

const switchTypeTaskElement = (type) => {
    if (type === 'radio' && form.task.elements[0].price !== 0) {
        form.task.elements.unshift({
            type: 'radio',
            completed: 1,
            title: 'Нет',
            price: 0,
            disabled: true
        })
        taskType.value = 'App\\Models\\Tasks\\TaskSwitch'
    }

    form.task.elements.forEach((option, index) => {
        option.type = type

        if (type === 'radio' && index === 0) {
            option.completed = 1
            option.disabled = true
        } else {
            option.completed = 0
            option.disabled = false
        }
    })


    if (type === 'checkbox' && form.task.elements.length > 1 && form.task.elements[0].price === 0) {
        form.task.elements.shift()
        taskType.value = 'App\\Models\\Tasks\\TaskCheckList'
    }

    if (type === 'formula') {
        taskType.value = 'App\\Models\\Tasks\\TaskFormula'
    }
}
const changeType = (type) => {
    form.task.elements[0].type = type
}
</script>
<template>
    <div class="flex flex-row flex-nowrap border-b-2 border-dotted pb-10 pb-5 px-2"
         :id="'task_' + form.task.id"
         :class="[props.highlight == form.task.id ? 'bg-gray-50' : '']"
    >

        <div class="flex-auto mt-5 w-6/12 px-3">
            <div class="flex flex-row flex-nowrap items-center">
                <div class="flex flex-row flex-nowrap justify-between items-center w-28 gap-2">
                    <span class="font-bold text-stone-400">#{{ index + 1 }}</span>
                    <div class="tooltip" data-tip="Сохранить">
                        <button class="rounded border p-2 bg-white border-gray-200 shadow-sm hover:bg-gray-100"
                                @click="updateTask(task.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"/>
                            </svg>
                        </button>
                    </div>
                    <div class="tooltip" data-tip="Удалить">
                        <button class="rounded border p-2 bg-white border-gray-200 shadow-sm hover:bg-gray-100"
                                @click="deleteTask(index)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="w-full ml-3">
                    <JetInput type="text" class="w-full" v-model="form.task.title" placeholder="Заголовок задачи"/>
                </div>
            </div>
            <div class="flex flex-row flex-nowrap mb-3 mt-3">
                <div class="mr-3">
                    <input type="radio" class="radio radio-sm mr-2" :id="'typeHandlerRegular' + index" value="regular"
                           v-model="form.task.type"
                           :checked="form.task.type === 'regular'"
                    >
                    <label :for="'typeHandlerRegular' + index">Регулярная</label>
                </div>
                <div class="mr-3">
                    <input type="radio" class="radio radio-sm mr-2" :id="'typeHandlerUrgent_' + index" value="urgent"
                           v-model="form.task.type"
                           :checked="form.task.type === 'urgent'"
                    >
                    <label :for="'typeHandlerUrgent_' + index">Срочная</label>
                </div>
                <div>
                    <input type="radio" class="radio radio-sm mr-2" :id="'typeHandlerLongTerm' + index"
                           value="long-term"
                           v-model="form.task.type"
                           :checked="form.task.type === 'long-term'"
                    >
                    <label :for="'typeHandlerLongTerm' + index">Долгосрочная</label>
                </div>
            </div>
            <div class="mt-5">
                <ckeditor
                    class="textarea h-64 overflow-scroll resize-y"
                    :editor="editorData.editor"
                    v-model="form.task.description"
                    :config="editorData.editorConfig"

                />
            </div>
        </div>
        <div class="flex-auto mt-5 w-6/12 px-3">
            <!--            <div class="flex flex-row flex-nowrap mb-5 mt-2">
                            <div class="mr-3">
                                <input type="radio" class="radio radio-sm mr-2" :id="'typeHandlerRadio' + index"
                                       :checked="taskType === 'App\\Models\\Tasks\\TaskSwitch'"
                                       @click="switchTypeTaskElement('radio')"
                                >
                                <label :for="'typeHandlerRadio' + index">Переключатель</label>
                            </div>
                            <div class="mr-3">
                                <input type="radio" class="radio radio-sm mr-2" :id="'typeHandlerCheckbox' + index"
                                       :checked="taskType === 'App\\Models\\Tasks\\TaskCheckList'"
                                       @click="switchTypeTaskElement('checkbox')"
                                >
                                <label :for="'typeHandlerCheckbox' + index">Чек-лист</label>
                            </div>
                            <div class="mr-3">
                                <input type="radio" class="radio radio-sm mr-2" :id="'typeHandlerFormula' + index"
                                       :checked="taskType === 'App\\Models\\Tasks\\TaskFormula'"
                                       @click="switchTypeTaskElement('formula')"
                                >
                                <label :for="'typeHandlerFormula' + index">Формула</label>
                            </div>
                        </div>-->

            <Switch v-if="taskType === 'App\\Models\\Tasks\\TaskSwitch'"
                    :elements="task.elements"
                    @sorting="sortingElements"
                    @addElement="addTaskElement"
                    @deleteElement="deleteTaskElement"
                    @changeTaskElement="onChangeOption"
            />
            <CheckList v-if="taskType === 'App\\Models\\Tasks\\TaskCheckList'"
                       :elements="task.elements"
                       @sorting="sortingElements"
                       @addElement="addTaskElement"
                       @deleteElement="deleteTaskElement"
            />
            <Formula v-if="taskType === 'App\\Models\\Tasks\\TaskFormula'"
                     :elements="task.elements"
            />

            <Preconfigured v-if="taskType === 'App\\Models\\Tasks\\TaskPreconfigured'"
                           :elements="task.elements"
                           @changeType="changeType"
            />

            <ckeditor
                class="textarea h-40 overflow-scroll resize-y"
                v-model="form.comment"
                :editor="editorData.editor"
                :config="editorData.editorConfig"
            />
        </div>
    </div>
</template>
