<script setup>
import {ref} from "vue";

const props = defineProps({
    task: Object,
    highlight: null,
    index: Number
})

const showTask = ref(false)
const showComment = ref(false)
</script>
<template>
    <div class="flex flex-row flex-nowrap border-b-2 border-dotted px-2 pt-10 pb-10 pb-5"
         :id="'task_' + props.task.id"
         :class="[props.highlight == props.task.id ? 'bg-gray-50' : '']">
        <span class="font-bold text-stone-400">#{{ index + 1 }}</span>
        <div class="flex-auto w-6/12 px-3">
             <span class=" rounded py-1 px-2 text-xs text-white font-semibold uppercase"
                   :class="[
                      task.type === 'regular'
                      ? 'bg-teal-600'
                      : task.type === 'urgent'
                      ? 'bg-yellow-600'
                      : task.type.status === 'long_term'
                      ? 'bg-green-700'
                      : 'bg-cyan-600'
                  ]"
             >
        {{ task.type_decoding }}
    </span>

            <h3 class="text-lg font-semibold text-gray-800">{{ task.title }}</h3>
            <div class="mt-2">
                <div class="flex flex-row flex-nowrap items-center">
                    <button
                        class="inline-flex items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                        @click="showTask = ! showTask"
                    >
                        Раскрыть
                    </button>
                    <span class="text-gray-400 font-semibold text-xs uppercase ml-2">Описание задачи</span>
                </div>
                <div class="task-content mt-2 indent-4 text-justify overflow-hidden"
                     :class="[ showTask ? '' : 'h-24']"
                     v-html="task.description"
                >
                </div>
            </div>
        </div>
        <div class="flex-auto w-6/12 px-3">
            <div class="flex flex-row justify-between">
                <span class="text-gray-400 font-semibold text-xs uppercase">Результаты</span>
            </div>
            <ul>
                <li v-if="task.elements.length" v-for="(element, index) in task.elements" class="mb-2">
                    <div :class="[element.completed === 1 ? 'bg-green-50' : 'bg-red-50']"
                         class="pt-1 pb-2 pl-2 rounded">
                        <input v-if="element.type === 'checkbox'"
                               v-model="task.elements[index].completed"
                               true-value="1"
                               false-value="0"
                               class="checkbox checkbox-sm"
                               type="checkbox"
                               :id="'element_checkbox_' + element.id"
                               :name="'element_checkbox_' + element.id"
                               disabled
                        >
                        <input v-else-if="element.type === 'radio'"
                               v-model="task.elements[index].completed"
                               value="1"
                               class="radio radio-sm"
                               type="radio"
                               :id="'element_radio_' + element.id"
                               :name="'element_radio_' + element.id"
                               disabled
                        >
                        <span v-else>Неизвестный тип элемента</span>
                        <div v-if="element.description" class="tooltip" :data-tip="element.description">
                            <label :for="'element_' + element.id" class="ml-2">{{ element.title }} ({{
                                    element.price
                                }}р)</label>
                        </div>
                        <div v-else class="inline">
                            <label :for="'element_' + element.id" class="ml-2">{{ element.title }} ({{
                                    element.price
                                }}р)</label>
                        </div>
                    </div>
                </li>

                <li v-else>
                    Показатели не заданы
                </li>
            </ul>

            <div v-if="task.comment" class="mt-5">
                <button
                    class="inline-flex items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                    @click="showComment = ! showComment"
                >
                    Открыть комментарий
                </button>
                <div v-if="showComment" v-html="task.comment?.comment"></div>
            </div>
        </div>
    </div>
</template>
