<script setup>
import draggable from "vuedraggable";
import JetInput from "@/Jetstream/Input"
import {defineEmits} from "vue";

const props = defineProps({
    elements: Object
})

const emit = defineEmits(['sorting', 'addElement', 'deleteElement'])

const sortingElements = () => {
    emit('sorting')
}

const addTaskElement = () => {
    emit('addElement')
}

const deleteTaskElement = (id) => {
    emit('deleteElement', id)
}
</script>
<template>
    <ul>
        <draggable
            :list="elements"
            ghost-class="ghost"
            item-key="id"
            @update="sortingElements"
        >
            <template #item="{ element }">
                <li class="flex flex-row flex-nowrap items-center mb-2 hover:cursor-move">
                    <div class="w-10">
                        <input v-model="element.completed"
                               true-value="1"
                               false-value="0"
                               class="checkbox checkbox-sm"
                               type="checkbox"
                               :id="'element_checkbox_' + element.id"
                               :name="'element_checkbox_' + element.id"
                        >
                    </div>
                    <div class="w-full ml-2">
                        <JetInput type="text" class="w-full" :class="[element.disabled || element.price === 0 ? 'bg-stone-100' : '' ]"
                                  v-model="element.title"
                                  placeholder="Показатель" :disabled="element.disabled || element.price === 0"/>
                    </div>
                    <div class="w-64 ml-2">
                        <JetInput type="number" v-model="element.price"
                                  :class="[element.disabled || element.price === 0 ? 'bg-stone-100' : '' ]" placeholder="Стоимость"
                                  :disabled="element.disabled || element.price === 0"/>
                    </div>
                    <div class="w-10 ml-2">
                        <div class="tooltip" data-tip="Удалить">
                            <button
                                class="rounded border p-2 bg-white border-gray-200 shadow-sm hover:bg-gray-100"
                                :class="[element.disabled || element.price === 0 ? 'bg-stone-100' : '' ]"
                                :disabled="element.disabled || element.price === 0"
                                @click="deleteTaskElement(element.id)"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </li>
            </template>
        </draggable>
        <li class="flex flex-row flex-nowrap items-center justify-end mb-2">
            <div class="tooltip" data-tip="Добавить">
                <button
                    class="rounded border p-2 bg-white border-gray-200 shadow-sm hover:bg-gray-100"
                    @click="addTaskElement"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>
            </div>
        </li>
    </ul>
</template>
