<script setup>
import JetInput from "@/Jetstream/Input"

const props = defineProps({
    elements: Object
})

</script>
<template>
    <JetInput v-if="elements[0]" v-model="elements[0].formula" type="text" class="w-full mb-2" placeholder="Формула"/>
</template>
