<script setup>
import JetSelect from "../../../../Jetstream/Select";
import {onMounted, ref} from "vue";
import JetInput from "../../../../Jetstream/Input";
import Label from "../../../../Jetstream/Label";

const props = defineProps({
    elements: Object
})

const emit = defineEmits(['changeType'])

const types = {
    completed_sdek_contracts: {
        id: 'completed_sdek_contracts',
        name: 'Оформленные договора СДЭК',
        fields: [
            {
                name: 'Количество договоров',
                key: 'count'
            }
        ]
    },
    managers_cash_flow: {
        id: 'managers_cash_flow',
        name: 'Менеджеры: денежный оборот',
        fields: [
            {
                name: 'Оборот',
                key: 'turnover'
            },
            {
                name: 'Количество заказов',
                key: 'orders'
            }
        ]
    },
    managers_conversion: {
        id: 'managers_conversion',
        name: 'Менеджеры: конверсия',
        fields: [
            {
                name: 'Конверсия оформленных заказов',
                key: 'orders'
            },
            {
                name: 'Конверсия выкупленых',
                key: 'redeemed'
            }
        ]
    },
}

const taskType = ref(props.elements[0]?.type ? props.elements[0]?.type : 'completed_sdek_contracts')

const changeSelect = (event) => {
    emit('changeType', event.target.value)
}

</script>
<template>
    <div class="mb-2">
        <JetSelect v-model="taskType" :options="types" :option-title="'name'" @change="changeSelect" class="w-full mb-2"/>
        <ul v-for="type in types[taskType].fields">
            <li>
                <Label :value="type.name"/>
                <JetInput v-if="elements[0]?.input" v-model="elements[0].input.fields[type.key]" type="number" min="0" class="w-full mb-2" :placeholder="type.name"/>
            </li>
        </ul>
    </div>
</template>
