<script setup>
import {useToast} from "vue-toastification";
import { computed, ref, watch } from 'vue';
import {usePage} from "@inertiajs/inertia-vue3";

const toast = useToast();

const style = computed(() => usePage().props.value.toast?.style || 'success');
const message = computed(() => usePage().props.value.toast?.message || '');


watch(message, async () => {
    toast.success(message)
});
</script>
<template>

</template>
