<script setup>
import {onMounted, ref, watch} from "vue"
import {useToast} from "vue-toastification"
import {Inertia} from "@inertiajs/inertia"
import JetInput from '@/Jetstream/Input.vue';
import Label from "@/Jetstream/Label"
import {pickBy} from "lodash"
import Select from "../../../../Jetstream/Select";


const props = defineProps({
    periods: Object,
    current_period: null,
})

const toast = useToast()

const diabledButton = ref(false)

const user = ref(props.current_user ? props.users.find(user => user.id === parseInt(props.current_user)) : false)

const form = ref({
    reporting_period: props.current_period ? props.current_period : props.periods[props.periods.length - 1].id,
    user: props.current_user ? props.current_user : false,
    without_period: true,
    with_tasks: true,
    without_tasks: true,
    planning: true,
    in_work: true,
    under_review: true,
    approved: true,
    only_favorites: false,
    search: null
})

watch(() => form, () => {
    filtering()
}, {deep: true});

onMounted(() => {
    filtering()
})

const filtering = async () => {
    let params = pickBy(form.value);

    await Inertia.get(route('planning.list'), params, {
        replace: true,
        preserveState: true,
    })
}

watch(() => user, (newVal) => {
    form.value.user = newVal.value?.id ? newVal.value.id : false
}, {deep: true})
</script>
<template>
    <div class="border-b-2 px-2 py-4">
        <div class="flex flex-row flex-nowrap items-baseline gap-2">
            <div class="flex flex-row flex-nowrap">
                <select class="select select-bordered w-64" v-model="form.reporting_period">
                    <option v-for="period in props.periods" :value="period.id"
                            :selected="period.id === form.reporting_period"
                    >
                        {{ period.title }}
                    </option>
                </select>
            </div>
            <div class="w-96">
                <JetInput v-model="form.search" type="text" class="mt-1 block w-full h-12" placeholder="Поиск..."/>
            </div>
        </div>
        <div class="flex flex-row gap-2 flex-nowrap items-center mt-2">
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm" v-model="form.without_period" type="checkbox"
                       id="without_period" name="with_tasks">
                <label for="without_period">Без периода</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm" v-model="form.with_tasks" type="checkbox"
                       id="with_results" name="with_tasks">
                <label for="with_tasks">С задачами</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" v-model="form.without_tasks" type="checkbox"
                       id="no_results" name="without_tasks">
                <label for="without_tasks">Без задач</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" v-model="form.planning" type="checkbox"
                       id="no_results" name="planing">
                <label for="planing">Планируется</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" v-model="form.in_work" type="checkbox"
                       id="no_results" name="in_work">
                <label for="in_work">В работе</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" v-model="form.under_review" type="checkbox"
                       id="no_results" name="under_review">
                <label for="under_review">Подтверждено</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" v-model="form.approved" type="checkbox"
                       id="no_results" name="approved">
                <label for="approved">Утверждено</label>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input class="checkbox checkbox-sm mr-2" v-model="form.only_favorites" type="checkbox"
                       id="only_favorites" name="only_favorites">
                <label for="only_favorites">Только избранные</label>
            </div>
        </div>
    </div>
</template>
