<script setup>
import {Link} from "@inertiajs/inertia-vue3"
import {computed} from "vue";
import Favorites from "@/Shared/Favorites";
import usePeriods from "../../../../Composables/Periods";

const props = defineProps({
    user: Object,
    current_period: Number,
})

const {approvedPeriod} = usePeriods(props.current_period, props.user.id, route('planning.list'))

const bgColor = computed(() => {
    let color = String

    if (!props.user.periods.length) {
        return 'bg-red-50'
    }

    if (props.user.periods[0].tasks_count === 0) {
        return 'bg-gray-50'
    }

    switch (props.user.periods[0].status_decoding.value) {
        case 'in_work':
            color = 'bg-white'
            break
        case 'under_review':
            color = 'bg-blue-50'
            break
        case 'approved':
            color = 'bg-green-50'
            break
        default:
            color = 'bg-gray-50'
    }

    return color
})

</script>
<template>
    <div
        class="flex flex-row flex-nowrap justify-between gap-4 border-b-2 border-b-gray-300 border-dotted pb-5 pt-5 px-3"
        :class="bgColor">
        <div class="flex-none w-3/12 border-r-2 font-medium">
            <div class="flex flex-row items-center gap-2">
                <Favorites :user_id="user.id" :in_favorite="user.has_favorite_count"/>
                {{ user.full_name }}
            </div>
        </div>

        <div class="flex-initial w-3/12 border-r-2 text-center">
            <p v-if="props.user.periods.length">
                {{ user.periods[0].tasks_count }} ({{ user.periods[0].status_decoding.description }})
            </p>
            <p v-else>Отчет не создан</p>
        </div>
        <div class="flex-initial w-3/12 border-r-2 text-center">
            <p v-if="props.user.periods.length">
                {{ user.periods[0].payment }}
            </p>
            <p v-else>Отчет не создан</p>
        </div>
        <div class="fflex-initial w-3/12 text-right">
            <Link v-if="props.user.periods.length && user.periods[0].tasks_count === 0" as="button"
                  class="inline-flex items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                  :href="route('planning.index', {reporting_period:  user.periods[0].reporting_period_id, user: user.id})">
                Создать
            </Link>
            <div v-else-if="props.user.periods.length && user.periods[0].tasks_count > 0"
                 class="flex flex-row gap-2  justify-end">
                <Link as="button"
                      class="inline-flex items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                      :href="route('planning.index', {reporting_period:  user.periods[0].reporting_period_id, user: user.id})">
                    Просмотреть
                </Link>
                <Link
                    as="button"
                    class="inline-flex items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                    :disabled="user.periods[0].status !== 'under_review'"
                    @click="approvedPeriod()"
                >
                    Утвердить
                </Link>
            </div>
            <Link v-else as="button"
                  class="inline-flex items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                  :href="route('planning.index', {reporting_period:  current_period, user: user.id})">
                Создать
            </Link>
        </div>

    </div>
</template>
