<script setup>
import {onMounted, ref} from 'vue';
import {Inertia} from '@inertiajs/inertia';
import {Head, Link} from '@inertiajs/inertia-vue3';
import JetBanner from '@/Jetstream/Banner.vue';
import Sidebar from "./Partials/Sidebar";
import Navbar from "./Partials/Navbar";
import Breadcrumbs from "@/Layouts/Partials/Breadcrumbs";
import NProgress from 'nprogress'

defineProps({
    title: String,
    breadcrumbs: Object
});

onMounted(() => {
    Inertia.on('start', () => NProgress.start())
    Inertia.on('finish', () => NProgress.done())
})

let showSideBar = ref(true)

const logout = () => {
    Inertia.post(route('logout'))
}
</script>

<template>
    <div>

        <Head :title="title"/>

        <JetBanner/>

        <div class="flex flex-row flex-nowrap min-h-screen bg-gray-50">
            <sidebar :show="showSideBar"/>

            <main class="w-full">

                <navbar :show="showSideBar" @toggle-sidebar="showSideBar = !showSideBar"/>

                <div class="container-fluid py-6 sm:px-3 lg:px-3">

                    <div class="flex flex-row flex-nowrap justify-between items-baseline mb-2">
                        <Breadcrumbs :items="$page.props.breadcrumbs"/>
                        <slot name="topRightSide"/>
                    </div>
                    <slot/>
                </div>

            </main>

        </div>

    </div>
</template>

